[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	status = always
[user]
	name = Alex Sharp
	email = ajsharp@gmail.com
[github]
	user = ajsharp
[apply]
	whitespace = nowarn
[core]
  # editor = mvim --nofork
  # editor = emacs
  # editor = atom
	editor = code --wait
	excludesfile = /Users/ajsharp/.gitignore_global
[alias]
  ci = commit
  co = checkout
  cp = cherry-pick
  br = branch
  st = status
  mt = mergetool
  track = git checkout -b $1 origin/$1
  ss = stash show -p
  hist = log --graph
[merge]
  tool = vimdiff
[heroku]
	account = personal
[include]
  path = ~/.gitconfig_secrets
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
